

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: var(--nav-border-bottom);
}

.navbar-heading {
  color: rgb(230, 178, 60);
  font-family: "Audiowide-Regular", "sans-serif";
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links > a {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 20px;
  font-weight: 500;
  padding: 0 15px;
}

